#ssn_label {
  width: 150;
}
input {
  width: 150px;
  height: 30px;
}
span {
  margin: 20px;
}
label {
  width: 80px;
  height: 40px;
}
button {
  width: 100px;
}
.form-control {
  width: 80px;
}
.label2 {
  width: 150px;
  height: 40px;
}
