<div class="container" ng-controller="UserCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1>Investigator</h1>
            <h3>Current User</h3>
        </div>`
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">

            <form class='form-inline clearfix'>

                <div class="col-sm-12" id="userList">
                    <h4>Name:</h4>
                    <label>First:</label>
                    <input type='text' placeholder="First"
                           ng-model='currentUser.first'
                           autofocus><span />
                    <label>Middle:</label>
                    <input type='text' placeholder="Middle"
                           ng-model='currentUser.middle'
                           autofocus><span />
                    <label>Last:</label>
                    <input type='text' placeholder="Last"
                           ng-model='currentUser.last'
                           autofocus>

                    <h4>Personal Info:</h4>
                    <label>DOB:</label>
                    <input type='text' placeholder="DOB"
                           ng-model='currentUser.dob'
                           autofocus><span />
                    <label>Age:</label>
                    <input type='text' placeholder="Age"
                           ng-model='currentUser.age'
                           autofocus><span />
                    <label>SSN:</label>
                    <input type='text' placeholder="SSN"
                           ng-model='currentUser.ssn'
                           autofocus>

                    <h4>Address:</h4>
                    <label>Street:</label>
                    <input type='text' placeholder="Street"
                           ng-model='currentUser.street'
                           autofocus><span />
                    <label>City:</label>
                    <input type='text' placeholder="City"
                           ng-model='currentUser.city'
                           autofocus><span />
                    <label>State:</label>
                    <input type='text' placeholder="State"
                           ng-model='currentUser.state'
                           autofocus><span />
                    <label>Zip:</label>
                    <input type='text' placeholder="Zip Code"
                           ng-model='currentUser.zip'
                           autofocus>

                    <h4>Phone</h4>
                    <label>Home:</label>
                    <input type='text' placeholder="Home Phone"
                           ng-model='currentUser.home'
                           autofocus><span />
                    <label>Cell:</label>
                    <input type='text' placeholder="Cell Phone"
                           ng-model='currentUser.cell'
                           autofocus><span />
                    <label>Work:</label>
                    <input type='text' placeholder="Work Phone"
                           ng-model='currentUser.work'
                           autofocus>

                    <h4>Job Information</h4>
                    <label class="label2">MVR Info:</label>
                    <input type='text' placeholder="MVR Info"
                           ng-model='currentUser.home'
                           autofocus><span />
                    <label class="label2">Occupation:</label>
                    <input type='text' placeholder="Occupation"
                           ng-model='currentUser.cell'
                           autofocus><br>
                    <label class="label2">Employer:</label>
                    <input type='text' placeholder="Employer"
                           ng-model='currentUser.work'
                           autofocus><span />
                    <label class="label2">Former Employer:</label>
                    <input type='text' placeholder="Former Employer"
                           ng-model='currentUser.work'
                           autofocus>


                </div>




                <button class='btn btn-primary' ng-click='submitMyForm(currentUser)'>Submit</button>
            </form>

            {{form.ssn}}
        </div>
    </div>
</div>